@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(221, 221, 221);
    font-family: 'Quicksand', sans-serif;
    color: grey;
}

.container-grid{
    width: 90%;
    margin: 0 auto;
}


/* ************** CABEÇALHO *************** */

header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    height: 60px;
}

header h1{
    color: white;
    font-weight: 300;
}

header h1 #logoux{
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    font-style: italic;
    
}

header nav{
    width: 300px;
    height: 40px;
    /* background-color: blue; */
}

header nav a {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
}



/* ******* CONtEUDO PRICIPAL ***********/

section{
    width: 70%;
    background-color: white;
    margin-top: 30px;
}

section img{
    width: 100%;
}

section p {
    padding: 15px;
}

section h2 {
    padding: 15px;
}

/* ************* CONTEUDO LADO****************** */

aside{
    display: flex;
    flex-direction:column;
    width: 20%;
    bor
}
.colunas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    border-bottom: 1px solid grey;
}

article{
    background-color: white;
    height:150px;
}

.coluna2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
